@font-face {
  src: url("../assets/Dopestyle.ttf");
  font-family: "Dopestyle";
}
@font-face {
  src: url("../assets/MuseoModerno.ttf");
  font-family: "MuseoModerno";
}
@keyframes bg-color-infinity {
  0%{
    background-position: 0 0;
  }
  25%{
    background-position: 50% 0;
  }
  50%{
    background-position: 100% 0;
  }
  75%{
    background-position: 50% 0;
  }
  100%{
    background-position: 0 0;
  }
}
html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 4vw;
}
body{
  background: linear-gradient(135deg, #000, #00f), #000;
  background-size: 500% 200%;
  animation-name: bg-color-infinity;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.all{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
@media (min-width: 1440px){
  html{
    font-size: 1.4vw;
  }
}
@media (max-width: 1440px){
  html{
    font-size: 1.8vw;
  }
}
@media (max-width: 1024px){
  html{
    font-size: 3vw;
  }
}
@media (max-width: 768px){
  html{
    font-size: 4vw;
  }
}
@media (max-width: 400px){
  html{
    font-size: 5vw;
  }
}
.head{
  color: white;
  font-family: "Dopestyle", monospace;
  font-size: 5rem;
  text-decoration: none;
}
.link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: rgba(127, 127, 255, 0.2);
  border-radius: 55px;
  font-size: 0.5rem;
  font-family: 'MuseoModerno', sans-serif;
  transition: .3s all ease-in-out;
  margin-right: 10px;
  flex-grow: 1;
  flex-basis: 0;
}
.link:hover{
  background-color: rgba(127, 127, 255, 0.3);
}
.link:last-child{
  margin-right: 0;
}
.links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
