@font-face {
  src: url("../assets/Dopestyle.ttf");
  font-family: "Dopestyle";
}
@font-face {
  src: url("../assets/MuseoModerno.ttf");
  font-family: "MuseoModerno";
}
html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 4vw;
}
body{
  width: 100vw;
  height: 100vh;
}
#bg{
  position: absolute;
  background: url(../assets/bg.jpg);
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background-origin: content-box;
  background-size: cover;
  filter: brightness(70%) contrast(1.2) saturate(125%);
}
#particles-js{
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.all{
  width: 100vw;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
}
@media (min-width: 1440px){
  html{
    font-size: 1.4vw;
  }
  .link{
    font-size: 1.4vw;
  }
  #time{
    font-size: 10vw;
  }
}
@media (max-width: 1440px){
  html{
    font-size: 1.8vw;
  }
  .link{
    font-size: 1.8vw;
  }
  #time{
    font-size: 15vw;
  }
}
@media (max-width: 1024px){
  html{
    font-size: 3vw;
  }
  .link{
    font-size: 3vw;
  }
  #time{
    font-size: 15vw;
  }
}
@media (max-width: 768px){
  html{
    font-size: 4vw;
  }
  .link{
    font-size: 4vw;
  }
  #time{
    font-size: 25vw;
  }
}
@media (max-width: 400px){
  html{
    font-size: 5vw;
  }
  .link{
    font-size: 5vw;
  }
  #time{
    font-size: 30vw;
  }
}
.upper-wrap{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: stretch;
}
.img-wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  min-width: 20vw;
}
#head-text, #toggle-radio{
  width: 100%;
  font-family: "MuseoModerno", monospace;
  color: white;
  text-align: center;
  user-select: none;
  text-shadow: white 0 0 150px;
}
.radio-wrap, #toggle-radio{
  cursor: pointer;
  z-index: 9999;
}
.links-wrap{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.link{
  color: white;
  font-family: "MuseoModerno", monospace;
  user-select: none;
}

.time-wrap{
  align-self: center;
}

#time{
  color: white;
  font-family: "MuseoModerno", monospace;
  user-select: none;
  text-shadow: #555 0 0 150px;
}